.response{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -15rem;
    padding: 3rem;
    background-color: $mediumColor;
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
        font-size: 2rem;
    }

    & a {
        font-weight: 600;
        text-decoration: underline;
        font-size: 2rem;
        cursor: pointer;

        &:visited {
            color: black
        }
    }
}

@media screen and (max-width: 500px) {
    .response{
        text-align: center;
        display: grid;
        row-gap: 1.5rem;
        padding: 4.5rem;

        & p {
            font-size: 3rem;
        }
    
        & a {
            font-size: 3rem;
        }
    }
}