.guest {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    p {
        font-size: 2rem;
        font-weight: 600;
    }

    img {
        width: 3rem;
        color: $testColor;
    }
}