.Typewriter {
    font-size: 6rem;

    &__cursor {
        display: none;
    }    
    
    &__wrapper {
        & span {
            font-size: 6rem;
        }

        display: flex;
        flex-direction: column;
    }

    &.cursor {
        animation: blink 1000ms backwards infinite ease-in-out;
    }
}

.firstname {
    font-weight: 600;
}

@media screen and (max-width: 500px) {
    .Typewriter {
        font-size: 8rem;
        
        &__wrapper {
            & span {
                font-size: 8rem;
            }
        }
    }
}